:root {
  --primary-color: #212121;
  --preprimary-color: #000000;
  --grey-color: #757575;
  --background-color: #2f303a;
  --white-color: #ffffff;
  --button-color: #f5f4fa;
  --main-backgrond: #f5f5f5;
  --link-color: #2196f3;
  --prelink-color: #188ce8;
  --contactfooter-color: rgba(255, 255, 255, 0.6);
  --border-portfolio: #ececec;
  --border-cleint: #afb1b8;
  --border-footer: rgba(255, 255, 255, 0.1);
  --work-details: rgba(33, 150, 243, 0.9);
  --modal-background: rgba(0, 0, 0, 0.2);
  --studio-details: rgba(47, 48, 58, 0.8);
  --border-modal: rgba(33, 33, 33, 0.2);
  --color-comment: rgba(117, 117, 117, 0.5);
  --filter-footer: rgba(0, 0, 0, 0.15);
  --color-email: rgba(255, 255, 255, 0.6);
}

.main-font {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}

.platform-site__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.no-scroll {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--link-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background: var(--button-color);
  cursor: pointer;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  margin-bottom: 15px;
  min-width: 23px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--link-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__link:hover,
.button__link:focus {
  background-color: var(--prelink-color);
}

.support-elements__button {
  width: 200px;
  height: 50px;
  margin-left: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .support-elements__button {
    margin-left: 291px;
  }
}

.support-elements__button:hover,
.support-elements__button:focus {
  background-color: var(--prelink-color);
}

.button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  padding: 4px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  min-width: 11px;
  color: var(--preprimary-color);
}
.button-close:hover .button-close__color, .button-close:focus .button-close__color {
  color: var(--link-color);
}
.button-close__color {
  margin: 0;
  padding: 0;
  margin: 4px;
  fill: currentColor;
}

.button-modal {
  text-align: center;
}
.button-modal__detail {
  margin-top: 30px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal__detail:hover, .button-modal__detail:focus {
  background-color: var(--prelink-color);
}

.button-mobile {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  min-width: 40px;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 15px;
}
@media screen and (min-width: 768px) {
  .button-mobile {
    display: none;
  }
}

.button-mobile .button-mobile__cross {
  display: none;
}

.button-mobile.is-open .button-mobile__cross {
  display: block;
}

.button-mobile.is-open .button-mobile__menu {
  display: none;
}

.button-mobile {
  margin: 0;
  padding: 0;
  color: var(--preprimary-color);
}

.button-mobile:hover .button-mobile__menu,
.button-mobile:focus .button-mobile__menu {
  color: var(--link-color);
}

.button-mobile__menu {
  fill: currentColor;
}

header {
  border-bottom: 1px solid var(--border-portfolio);
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

li {
  list-style: none;
  text-decoration: none;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  font-style: normal;
  margin-top: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--main-backgrond);
}

input::-webkit-input-placeholder {
  color: var(--color-email);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

input::-moz-placeholder {
  color: var(--color-email);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

input:-ms-input-placeholder {
  color: var(--color-email);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

input::-ms-input-placeholder {
  color: var(--color-email);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

input::placeholder {
  color: var(--color-email);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  cursor: pointer;
  outline-color: var(--link-color);
}

.main-nav {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 1600px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-nav__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1600px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--link-color);
}
@media screen and (min-width: 768px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1600px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__studio--header {
  color: var(--preprimary-color);
}

.logo__studio--footer {
  color: var(--white-color);
}

.site-nav {
  padding-left: 40px;
}
.site-nav__link.current {
  color: var(--link-color);
}
@media screen and (min-width: 768px) {
  .site-nav__link.current {
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
    gap: 50px;
    padding: 0;
    padding-top: 26px;
    margin-right: 96px;
  }
}
@media screen and (min-width: 1600px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
    gap: 50px;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  color: currentColor;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-decoration: none;
  display: inline-block;
  padding-top: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:first-child {
  padding-top: 48px;
}
@media screen and (min-width: 768px) {
  .site-nav__link:first-child {
    padding-top: 0px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1600px) {
  .site-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--link-color);
}

@media screen and (min-width: 768px) {
  .site-nav__link.current::after {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--link-color);
    border-radius: 2px;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}
@media screen and (min-width: 1600px) {
  .site-nav__link.current::after {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--link-color);
    border-radius: 2px;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

.auth-nav {
  padding-top: 270px;
  padding-left: 40px;
  display: flexorder;
}
.auth-nav__contact--telephone {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
.auth-nav__contact--email {
  color: var(--grey-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.auth-nav__contact {
  color: var(--grey-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    padding-top: 0px;
    padding-left: 0px;
    margin-left: auto;
  }
}
.icon-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--grey-color);
}
.icon-header:hover, .icon-header:focus {
  fill: var(--link-color);
}
.icon-header__content {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (max-width: 768px) {
  .icon-header__content {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav .item + .item {
    margin-top: 10px;
  }
}

.menu-mobile__link {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-top: 64px;
  padding-bottom: 48px;
}

.menu-mobile__link--sites {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--link-color);
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-container {
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  font-size: 20px;
}
.menu-container.is-open {
  display: block;
}
@media screen and (min-width: 767px) {
  .menu-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .desktop-version {
    display: none;
  }
}

.main-baner {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: var(--background-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-baner.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-baner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.baner-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
}
@media screen and (min-width: 768px) {
  .baner-title {
    margin-left: 189px;
    margin-right: 189px;
  }
}
.main-benefit {
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .benefit-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.benefit-list__chapter {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .benefit-list__chapter {
    width: 354px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}
.benefit-list__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin: 0;
  margin-bottom: 10px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .benefit-list__title {
    text-align: left;
  }
}
.benefit-list__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  margin: 0;
}
@media screen and (min-width: 768px) {
  .benefit-list__info {
    text-align: left;
  }
}

.benefit-list__chapter:nth-child(4n) {
  margin-right: 0;
}

.icon-benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--button-color);
}
@media screen and (min-width: 768px) {
  .icon-benefit {
    width: 354px;
  }
}

.main-philosophy__details {
  position: relative;
}

.main-philosophy {
  padding-top: 47px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.main-philosophy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.main-philosophy__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--studio-details);
}

.main-font__philosophy {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-color);
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
  display: none;
}

.team-details {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-details__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-color);
}
.team-details__work {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--grey-color);
}

.main-team {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--button-color);
}
.main-team__list {
  text-align: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .main-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.main-team__card {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
}
@media screen and (max-width: 768px) {
  .main-team {
    margin-bottom: 30px;
  }
}
.main-team__list img {
  display: block;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .main-team__list img {
    width: 354px;
  }
}

.icon-team {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.icon-team__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 22px;
  color: var(--border-cleint);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team__element:hover, .icon-team__element:focus {
  color: var(--white-color);
  background-color: var(--link-color);
}

.icon-team__element .icon-team__color {
  fill: currentColor;
}

.main-client {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-client__color {
  fill: currentColor;
}
.main-client__card {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--border-cleint);
  color: var(--border-cleint);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-client__card:hover, .main-client__card:focus {
  border-color: var(--link-color);
  color: var(--link-color);
}

.main-footer {
  background: var(--background-color);
}

.footer-support {
  text-align: center;
}
.contact-footer {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .contact-footer {
    margin-left: 76px;
    margin-right: 165px;
  }
}

.platform-site {
  text-align: center;
}

.support-site {
  padding-top: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .support-site {
    padding-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-list__link {
  margin-bottom: 9px;
}
.contact-list__link:last-child {
  margin-bottom: 0;
}

.list .contact-list__link {
  list-style: none;
}

.contact-list__selection {
  font-size: 14px;
  line-height: 1.71;
  color: var(--contactfooter-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__selection:hover, .contact-list__selection:focus {
  color: var(--link-color);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  text-decoration: none;
}

.icon-footer {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-left: 122px;
}
@media screen and (min-width: 768px) {
  .icon-footer {
    padding: 0;
  }
}
.icon-footer__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--border-footer);
  color: var(--white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer__element:hover, .icon-footer__element:focus {
  background-color: var(--link-color);
}
.icon-footer__color {
  fill: currentColor;
}

.support-elements {
  padding-top: 20px;
}
.support-elements__email input {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  height: 50px;
  width: 358px;
  margin-right: 12px;
  padding-left: 16px;
  border: 2px solid var(--border-footer);
  border-radius: 4px;
  background-color: var(--background-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .support-elements__email input {
    width: 450px;
  }
}
.support-elements__color {
  color: var(--white-color);
}

.icon-telegram {
  margin-left: 10px;
}

.portfolio-section {
  padding-top: 60px;
}

.main-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .main-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1600px) {
  .main-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-filter .item + .item {
  margin-left: 8px;
}

.project-list__main--card {
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .project-list__main--card {
    padding-bottom: 0px;
    width: 354px;
  }
}

.project-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .project-list {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1600px) {
  .project-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.project-list__card {
  position: relative;
  overflow: hidden;
}
.project-list__info {
  position: absolute;
  top: 0;
  left: 0;
  height: 110%;
  display: block;
  margin: 0;
  padding: 0;
  padding: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--work-details);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-selection {
  padding: 20px 24px;
  text-align: center;
}
.project-selection__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  margin: 0;
  margin-bottom: 4px;
}
.project-selection__style {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  margin: 0;
}

.project-border {
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project-list .project-list__link {
  display: block;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__link:hover,
.project-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__anime:hover .project-list__info,
.project-list__anime:focus .project-list__info {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--modal-background);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--primary-color);
}

.modal__form {
  margin-top: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.modal__element {
  position: relative;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}
.modal__element:first-child {
  margin-top: 0px;
}

.modal__element .modal-selection input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid var(--border-modal);
  border-radius: 4px;
  cursor: pointer;
  outline-color: var(--link-color);
}

.modal__element .button-modal__detail {
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.modal__element .comment {
  height: 120px;
  border: 1px solid var(--border-modal);
  border-radius: 4px;
}

.main-contract {
  margin-left: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.main-contract__detail {
  position: relative;
  color: var(--link-color);
  text-decoration: none;
}
.main-contract__detail::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  background-color: var(--link-color);
}

.modal-selection {
  position: relative;
}
.modal-selection__input {
  padding-left: 42px;
}

.modal-selection:focus-within > .icon-modal {
  fill: var(--link-color);
}

.comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-comment);
}

.icon-modal {
  position: absolute;
  top: 18px;
  left: 15px;
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.check-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.check-label__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.check-label__accept {
  display: inline-block;
}

.icon-modal-the {
  opacity: 1;
  cursor: pointer;
  color: currentColor;
}

.icon-modal-end {
  opacity: 0;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-label__checkbox:checked + .check-label__accept .icon-modal__color > .icon-modal-end {
  opacity: 1;
  fill: var(--link-color);
}

.check-label__checkbox:checked + .icon-modal__color > .icon-modal-the {
  opacity: 0;
}

.check-label__checkbox:focus + .check-label__accept {
  fill: var(--link-color);
}/*# sourceMappingURL=main.css.map */