.auth-nav {
//   display: flex;
//   margin-left: auto;

  &__contact {
    color: var(--grey-color);
    text-decoration: none;
    // display: block;
  }
}

.icon-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--grey-color);

  &:hover,
  &:focus {
    fill: var(--link-color);
  }

  &__content {
    margin-right: 10px;
    fill: currentColor;
  }
}

.auth-nav .item + .item {
  margin-left: 50px;
}
