.auth-nav {
  padding-top: 270px;
  padding-left: 40px;
  display: flex + order;

  @media screen and (min-width: 1600px) {
    display: flex;
    margin-left: auto;
  }

  &__contact--telephone {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--link-color);

    display: block;
  }

  &__contact--email {
    color: var(--grey-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    // display: block;
  }

  &__contact {
    color: var(--grey-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-left: 0px;
    margin-left: auto;
  }

  @media screen and (min-width: 1600px) {
	color: var(--grey-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

.icon-header {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--grey-color);

  @media screen and (min-width: 1600px) {
    align-items: center;
    justify-content: center;
  }

  &:hover,
  &:focus {
    fill: var(--link-color);
  }

  &__content {
    margin-right: 8px;
    fill: currentColor;

    @media screen and (max-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1600px) {
      margin-right: 10px;
    }
  }
}

.auth-nav .item + .item {
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1600px) {
margin: 0;
    margin-left: 50px;
  }
}

//**MOBILE**//

.menu-mobile__link {
  display: block;
  display: flex;
  padding-left: 30px;
  padding-top: 64px;
  padding-bottom: 48px;
}

.menu-mobile__link--sites {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--link-color);

  border-left: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
