.logo {
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--link-color);
}

.logo__studio--header {
  color: var(--preprimary-color);
}

.logo__studio--footer {
  color: var(--white-color);
}