.portfolio-section {
//   padding-top: 94px;
//   padding-bottom: 94px;
    padding-top: 60px;
}

.main-filter {
  display: flex;
    padding-bottom: 40px;
	 flex-wrap: wrap;

	 @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 1600px) {
	    justify-content: center;
  }
}

.main-filter .item + .item {
  margin-left: 8px;
}
