.menu-container {
  display: none;

  top: 100%;
  left: 0;
  width: 100%;

  background-color: var(--white-color);
  font-size: 20px;

  &.is-open {
    display: block;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}


.desktop-version {

	@media screen and (max-width: 767px) {
    display: none;
  }
}