.main-nav {
  padding-top: 16px;
  padding-bottom: 16px;

  position: relative;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: 1600px) {
    display: flex;
    align-items: center;
  }
}

.main-nav__list {
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1600px) {
    display: flex;
  }
}
