.main-footer {
  background: var(--background-color);
}

.footer-support {
//   display: flex;
//   align-items: baseline;
text-align: center;
}

.contact-footer {
	padding-bottom: 60px;
}

.platform-site {
//   margin-left: 70px;
text-align: center;
}

.support-site {

//   margin-left: 93px;
padding-top: 60px;
  text-align: center;
}