.main-footer {
  background: var(--background-color);
}

.footer-support {
  text-align: center;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1600px) {
    display: flex;
    align-items: baseline;
  }
}

.contact-footer {
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-left: 76px;
    margin-right: 165px;
  }

  @media screen and (min-width: 1600px) {
    text-align: left;
    margin-left: 0px;
	margin-right: 0;
  }
}

.platform-site {
  text-align: center;

  @media screen and (min-width: 1600px) {
    text-align: left;
    margin-left: 70px;
  }
}

.support-site {
  padding-top: 60px;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 0px;
  }

    @media screen and (min-width: 1600px) {
    margin-left: 93px;
	text-align: left;
  }
}

.tablet {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
