.icon-footer {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  padding-left: 122px;

&__element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--border-footer);
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__element:hover,
&__element:focus {
  background-color: var(--link-color);
}

&__color {
  fill: currentColor;
}
}