.support-elements {
  display: flex;
  padding-top: 20px;

&__email input {
  margin: 0;
  padding: 0;

  height: 50px;
  width: 358px;
  margin-right: 12px;
  padding-left: 16px;

  border: 2px solid var(--border-footer);
  border-radius: 4px;
  background-color: var(--background-color);
  cursor: pointer;
}

&__color {
  color: var(--white-color);
}
}

.icon-telegram {
  margin-left: 10px;
}