header {
  border-bottom: 1px solid var(--border-portfolio);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

li {
  list-style: none;
  text-decoration: none;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  font-style: normal;
  margin-top: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--main-backgrond);

}

input::placeholder {
  color: var(--color-email);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;

  cursor: pointer;
  outline-color: var(--link-color);
}