$mainFont: "Roboto";
$secondaryFont: "Raleway";

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --preaccent-color: #188ce8;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --border-header-color: #ececec;
  --team-icon-color:  #afb1b8;
  --social-background-color:#ffffff10;
  --portfolio-card-color: rgba(33, 150, 243, 0.9);
  --portfolio-border-color:#eeeeee;
  --hero-color: #c4c4c4; 
}
